<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Partner edit/add</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $('.glyphicon-question-sign').tooltip();
        });
    </script>
</head>
<body>
<div class="container">
    <h1 th:if="!${param.partnerId}" class="page-header">Add Partner</h1>

    <h1 th:if="${param.partnerId}" class="page-header">Edit Partner <span th:text="${param.partnerId}"></span></h1>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form th:action="'/partners/edit'" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <!-- signalize new Partner -->
                <input type="hidden" th:if="!${param.partnerId}" name="newPartner" value="true"/>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="partnerId">Partner ID</label>
                        <input class="form-control" id="partnerId" type="text" name="partnerId" th:value="${partner.partnerId}"/>
                    </div>
                    <div class="form-group">
                        <label for="clientId">Client ID</label>
                        <input class="form-control" id="clientId" type="text" name="clientId" th:value="${partner.clientId}"/>
                    </div>
                    <div class="form-group">
                        <label for="clientSecret">Client Secret</label>
                        <input class="form-control" id="clientSecret" type="text" name="clientSecret" th:value="${partner.clientSecret}"/>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label for="accessTokenUri">Access Token Uri</label>
                        <input class="form-control" id="accessTokenUri" type="text" name="accessTokenUri" th:value="${partner.accessTokenUri}"/>
                    </div>
                    <div class="form-group">
                        <label for="userAuthorizationUri">User Authorization Uri</label>
                        <input class="form-control" id="userAuthorizationUri" type="text" name="userAuthorizationUri" th:value="${partner.userAuthorizationUri}"/>
                    </div>

                    <div class="form-group">
                        <label for="scopes">Scopes
                            <span data-toggle="tooltip" data-placement="bottom" class="glyphicon glyphicon-question-sign"
                                  title="All scopes this client can access. If it is a client with authorization (implicit, authorization_code grant) the user can choose the scopes separately. Comma separated list."></span>
                        </label>
                        <input class="form-control" id="scopes" type="text" name="scopes" th:value="${#strings.setJoin(partner.scopes, ',')}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
